/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Funcionalidad de scroll para container de tabla */
.scrollable-table {
    max-height: 70vh; /* Ajusta tamano a 70% de pantalla usable */
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Conf para barra de scroll */
.filter-sidebar {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    max-width: 300px;
}