/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Ensure the table container has scroll functionality */
.scrollable-table {
    max-height: 70vh; /* Adjusts height to 70% of the viewport */
    overflow-y: auto;
    background-color: #f9f9f9; /* Light background for contrast */
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust the filter sidebar to occupy less space */
.filter-sidebar {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    max-width: 300px; /* Limits width to improve table space */
}