{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <img src="static/CleanSystem_logo.png" alt="Logo Image" style="width: 70%; height: auto;">

    <footer style="position: fixed; bottom: 0; right: 0; display: flex; gap: 10px; padding: 10px; background-color: rgba(255, 255, 255, 0.8); border-radius: 8px;">
        <img src="static/logo_uls.png" alt="Logo ULS" style="width: 100px; height: auto;">
        <img src="static/logo_hsp.png" alt="Logo HSP" style="width: 130px; height: auto;">
    </footer>

{% endblock %}
